<header class="header">
    <nav class="header__nav">
        <div class="header__desktop">
            <h1 class="header__h1"><a href="" class="header__title">AIRLINE</a></h1>

            <div class="header__primary">
                <a class="header__a" href="#">Home</a>
                <a class="header__a" href="#">About</a>
                <a class="header__a" href="#">Destinations</a>
                <a class="header__a" href="#">Contact</a>
            </div>
            <div class="header__secondary">
                <select class="header__select" name="pets" id="pet-select">
                    
                    <option class="header__option" value="ingles">EN - Ingles</option>
                    <option class="header__option" value="russian">RU - Russian</option>
                    <option class="header__option" value="german">DE - German</option>
                    <option class="header__option" value="french">FR - French</option>
                    
                </select>
            </div>
        </div>
    </nav>
    <div class="header__div">
        <h2 class="header__h2">Visit Canada with price from $ 800</h2>
        <p class="header__p">Prepare your bags and forget your warries <br> to start enjoying your holidays in this
            fantastic country</p>
        <button class="header__button">BUY NOW</button>
    </div>
</header>