<footer class="footer">
    <div class="footer__follow">
        <h2 class="footer__h2">Follow us</h2>
        <div class="footer__img">
            <img src="../../assets/icon/facebook.svg" alt="" class="footer__svg" />
            <img src="../../assets/icon/instagram.svg" alt="" class="footer__svg" />
            <img src="../../assets/icon/twitter.svg" alt="" class="footer__svg" />
        </div>
    </div>
    <div class="footer__div">
        <section class="footer__section">
            <h3 class="footer__h3">About Us</h3>
            <p class="footer__p">
                we want to help passengers <br> to reach their destinations
            </p>
        </section>
        <section class="footer__section">
            <h3 class="footer__h3">Explore</h3>
            <a href="" class="footer__a">Home</a>
            <a href="" class="footer__a">Destinations</a>
            <a href="" class="footer__a">About</a>
        </section>
        <section class="footer__section">
            <h3 class="footer__h3">Information</h3>
            <a href="" class="footer__a">More search</a>
            <a href="" class="footer__a">Blog</a>
            <a href="" class="footer__a">Testimonials</a>
        </section>
        <section class="footer__section">
            <h3 class="footer__h3">Services</h3>
            <a href="" class="footer__a">Manage My Bookings</a>
            <a href="" class="footer__a">Chechin</a>
            <a href="" class="footer__a">Hotel</a>
            <a href="" class="footer__a">Cars</a>
        </section>
    </div>
</footer>