<main class="main">
        <div class="main__offers">
                <h2 class="main__h2">Offers</h2>
                <div class="main__line"></div>
        </div>
    <article class="main__section1">
        <div class="main__shadow">
            <h3 class="main__h3">Trip to Moscow</h3>
            <p class="main__p">Price $600,86</p>
        </div>
        
    </article>
    <article class="main__section2">
        <div class="main__shadow">
            <h3 class="main__h3">Trip to Puerto Rico</h3>
            <p class="main__p">Price $600,86</p>
        </div>
        
    </article>
    <article class="main__section3">
        <div class="main__shadow">
            <h3 class="main__h3">Trip to Honduras</h3>
            <p class="main__p">Price $600,86</p>
        </div>
        
    </article>
    <aside class="main__aside">
        <ul class="main__ul">
            <h3 class="main__menu">Menu</h3>
            <li class="main__li">Check-in</li>
            <li class="main__li">Manage My Booking</li>
            <li class="main__li">Search</li>
            <li class="main__li">Destinations</li>
            <li class="main__li">Members</li>
        </ul>
    </aside>
    <div class="main__div">
        <h4 class="main__h4">Chosen destination</h4>
    </div>
</main>